.login-form .front-face {
	background-color: #10bae0;
}

.login-form .input {
	border-bottom: 2px solid #10bae0 !important;
}
.input-btn {
	background-color: #10bae0;

}
.input-btn:hover,
.input-btn:focus

{
	border:5px solid #10bae0;
}
.input-btn:hover:after {
	border-right:  30px solid  #10bae0
}
.option-box .gear-check {
    background: #10bae0;
}
